.webPage .mainBody .footerContainer {
    display: block;
    position: absolute;
    box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: auto;
  height: 268.00px;
  left: -4px;
  right: 0.00px;
  bottom: 0.00px;
}
.webPage .mainBody .footerContainer .footer {
  position: absolute;
    box-sizing: border-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    background-color: rgba(255, 255, 255, 1);
    border-top-color:  rgba(201, 201, 201, 0.47843137254901963);
    border-top-style: solid;
    border-top-width: 1.00px;
    box-shadow: none;
    width: auto;
  height: auto;
  left: 0.00px;
  top: 0.00px;
  right: 0.00px;
  bottom: 0.00px;
}
.webPage .mainBody .footerContainer .line12 {
  position: absolute;
  box-sizing: content-box;
  transform-origin: center;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
    opacity: 1;
    cursor: default;
    stroke: rgba(201, 201, 201, 0.47843137254901963);
    stroke-width: 1.00px;
    stroke-linecap: butt;
    box-shadow: none;
    width: 2.00px;
  height: 200.00px;
  right: 430.00px;
  bottom: 33.50px;
  left: 1000px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  width: auto; 
  height: auto;
  position: absolute;
  top: 50px;
  left: 200px;
}
.footer-block{
   width: auto; 
  height: auto;
}
.footer-block > ul{
  list-style: none;
  padding-left: 20px;
  margin: 0px;
  opacity: 0.5;
}